<% @user ||= current_user %>
<div class="stats">

  <a href="<%= follower_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.follower.count %>
    </strong>
    follows
  </a>
    <a href="<%= followed_user_path(@user) %>">
    <strong id="followed" class="stat">
      <%= @user.followed.count %>
    </strong>
    followers
  </a>
</div>